// *************************************
//
//   #LINK-BLOCK
//
// *************************************

// The link-block module simply displays a link as block.

// Predefine the variables below in order to enable specific features.
$tree-link-block-namespace:    $tree-namespace !default;





.#{$tree-link-block-namespace}u-link-block,
%#{$tree-link-block-namespace}u-link-block {

    &,
    &:hover,
    &:focus,
    &:active {
        display: block !important;
        text-decoration: none !important;
    }

}
